main {
  width: clamp(360px, 50vw, 800px);
  margin: auto;
  padding: 240px 0;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 240px;
  padding-bottom: 120px;
}

main p {
  margin: 0;
  height: 120px;
}